    <section>
      <img  src="<%= book.image_url %>" alt="">
      <h2><%= book.title %></h2>
      <p><%= book.author %></p>
      <p><%= book.isbn %></p>
      <h6><%= book.description %></h6>
    </section>

